<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rayenyang.mybatis.mapper.SysUserMapper">
    <cache readOnly="true"/>

    <resultMap id="userMap" type="SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="password" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <!--############# 一对一 ################-->
    <resultMap id="userRoleMap" type="SysUser" extends="userMap">
        <association property="role"
                     resultMap="com.rayenyang.mybatis.mapper.SysRoleMapper.roleMap"/>
    </resultMap>

    <resultMap id="userRoleMap2" type="SysUser" extends="userMap">
        <association property="role" column="{id=role_id}"
                     select="com.rayenyang.mybatis.mapper.SysRoleMapper.selectById"
                     fetchType="lazy"/>
    </resultMap>
    <!--############# 一对一 ################-->

    <!--############# 一对多 ################-->

    <resultMap id="userRoleMap3" type="SysUser" extends="userMap">
        <collection property="roleList" ofType="SysRole"
                    columnPrefix="role_"
                    resultMap="com.rayenyang.mybatis.mapper.SysRoleMapper.roleMap"
        />
    </resultMap>

    <resultMap id="userRoleMap4" type="SysUser" extends="userMap">
        <collection property="roleList" ofType="SysRole"
                    column="{id=role_id}"
                    fetchType="lazy"
                    select="com.rayenyang.mybatis.mapper.SysRoleMapper.selectById"/>
    </resultMap>

    <!-- ********************************************************************** -->
    <select id="selectById" resultMap="userMap">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="userMap">
        SELECT *
        FROM sys_user
    </select>

    <select id="selectRoleById" resultType="com.rayenyang.mybatis.pojo.SysRole">
        SELECT
            r.*,
            u.username AS 'user.userName'
        FROM sys_user u
            JOIN sys_user_role ur ON u.id = ur.user_id
            JOIN sys_role r ON ur.role_id = r.id
        WHERE u.id = #{id}
    </select>

    <!--############### insert 标签 返回主键的2种方式 #############################-->
    <insert id="insertUser">
        INSERT INTO sys_user (username, user_password, user_email, user_info, head_img, create_time) VALUES (
            #{userName}, #{password}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
            #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertUser2" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, user_password, user_email, user_info, head_img, create_time) VALUES (
            #{userName}, #{password}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
            #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertUser3">
        INSERT INTO sys_user (username, user_password, user_email, user_info, head_img, create_time) VALUES (
        #{userName}, #{password}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
        #{createTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
    </insert>
    <!--############## update 标签 ########################################-->
    <update id="update">
        UPDATE sys_user
        SET username    = #{userName}, user_password = #{password},
            user_email  = #{userEmail}, user_info = #{userInfo}, head_img = #{headImg},
            create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <!--############## delete 标签 ######################################-->
    <delete id="deleteById">
        DELETE FROM sys_user
        WHERE id = #{id}
    </delete>

    <!--############## 接口方法多个参数使用@Param ###########################-->

    <select id="testMultiArgs" resultType="SysRole">
        SELECT
            u.username AS 'user.userName',
            r.role_name
        FROM sys_user u
            JOIN sys_user_role ur ON u.id = ur.user_id
            JOIN sys_role r ON r.id = ur.role_id
        WHERE u.id = #{id} AND r.enabled = #{enabled}
    </select>
    <!--############## if 标签 #############################-->
    <select id="selectWithIf" resultType="SysUser">
        SELECT * FROM sys_user WHERE 1=1
        <if test="username != null and username != ''">
            AND username=#{username}
        </if>
        <if test="password != null and password != ''">
            AND user_password=#{password}
        </if>
    </select>
    <!--############ choose 标签 #################################-->
    <select id="selectWithChoose" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user WHERE 1=1
        <choose>
            <when test="id != null and id != ''">
                AND id=#{id}
            </when>
            <when test="userName != null and userName != ''">
                AND username=#{userName}
            </when>
            <otherwise>
                AND 1=2
            </otherwise>
        </choose>
    </select>
    <!--########## where 标签 ###############################-->
    <select id="selectWithWhere" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="userName != null and userName != ''">
                username = #{userName}
            </if>
            <if test="password != null and password != ''">
                AND user_password = #{password}
            </if>
        </where>
    </select>
    <!--########### set 标签 ##############################-->
    <update id="updateWithSet">
        UPDATE sys_user
        <set>
            <if test="userName != null">
                username=#{userName},
            </if>
            <if test="password != null">
                user_password=#{password},
            </if>
            <if test="userEmail != null">
                user_email=#{userEmail},
            </if>
            <if test="userInfo != null">
                user_info=#{userInfo},
            </if>
            <if test="headImg != null">
                head_img=#{headImg},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            id=#{id}
        </set>
        WHERE id=#{id}
    </update>
    <!--############ for 标签 #################################-->
    <select id="selectWithFor" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="idList != null and idList.size > 0">
                id in
                <foreach collection="idList" open="(" close=")" index="i" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="selectWithForMap" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user
        <where>
            <foreach collection="args" index="key" item="val" separator="AND">
                ${key}=#{val}
            </foreach>
        </where>
    </select>
    <select id="selectAllAndRole" resultMap="userRoleMap">
        SELECT
            u.id,
            u.username,
            u.user_info,
            r.role_name
        FROM sys_user u
            INNER JOIN sys_user_role ur ON u.id = ur.user_id
            INNER JOIN sys_role r ON ur.role_id = r.id
    </select>

    <select id="selectAllAndRole2" resultMap="userRoleMap2">
        SELECT
            u.*,
            ur.role_id role_id
        FROM sys_user u
            INNER JOIN sys_user_role ur ON u.id = ur.user_id
    </select>

    <select id="selectAllAndRole3" resultMap="userRoleMap3">
        SELECT
            u.*,
            r.id          AS role_id,
            r.role_name   AS role_role_name,
            r.enabled     AS role_enabled,
            r.create_by   AS role_create_by,
            r.create_time AS role_create_time
        FROM sys_user u
            INNER JOIN sys_user_role ur ON u.id = ur.user_id
            INNER JOIN sys_role r ON r.id = ur.role_id
    </select>

    <select id="selectAllAndRole4" resultMap="userRoleMap4">
        SELECT
            u.*,
            ur.role_id role_id
        FROM sys_user u
            INNER JOIN sys_user_role ur ON u.id = ur.user_id
    </select>

</mapper>