<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rayenyang.mybatis.mapper.SysUserMapper">
    <resultMap id="userMap" type="SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="password" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectById" resultMap="userMap">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="userMap">
        SELECT *
        FROM sys_user
    </select>

    <select id="selectRoleById" resultType="com.rayenyang.mybatis.pojo.SysRole">
        SELECT
            r.*,
            u.username AS 'user.userName'
        FROM sys_user u
            JOIN sys_user_role ur ON u.id = ur.user_id
            JOIN sys_role r ON ur.role_id = r.id
        WHERE u.id = #{id}
    </select>

    <!--##############################################################-->
    <insert id="insertUser">
        INSERT INTO sys_user (username, user_password, user_email, user_info, head_img, create_time) VALUES (
            #{userName}, #{password}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
            #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertUser2" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, user_password, user_email, user_info, head_img, create_time) VALUES (
            #{userName}, #{password}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
            #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertUser3">
        INSERT INTO sys_user (username, user_password, user_email, user_info, head_img, create_time) VALUES (
        #{userName}, #{password}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
        #{createTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
    </insert>
    <!--###############################################################-->
    <update id="update">
        UPDATE sys_user
        SET username    = #{userName}, user_password = #{password},
            user_email  = #{userEmail}, user_info = #{userInfo}, head_img = #{headImg},
            create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <!--###############################################################-->
    <delete id="deleteById">
        DELETE FROM sys_user
        WHERE id = #{id}
    </delete>

    <!--##############################################################-->

    <select id="testMultiArgs" resultType="SysRole">
        SELECT
            u.username AS 'user.userName',
            r.role_name
        FROM sys_user u
            JOIN sys_user_role ur ON u.id = ur.user_id
            JOIN sys_role r ON r.id = ur.role_id
        WHERE u.id = #{id} AND r.enabled = #{enabled}
    </select>
    <!--##############################################################-->
    <select id="selectWithIf" resultType="SysUser">
        SELECT * FROM sys_user WHERE 1=1
        <if test="username != null and username != ''">
            AND username=#{username}
        </if>
        <if test="password != null and password != ''">
            AND user_password=#{password}
        </if>
    </select>
    <!--############################################################-->
    <select id="selectWithChoose" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user WHERE 1=1
        <choose>
            <when test="id != null and id != ''">
                AND id=#{id}
            </when>
            <when test="userName != null and userName != ''">
                AND username=#{userName}
            </when>
            <otherwise>
                AND 1=2
            </otherwise>
        </choose>
    </select>
    <!--##############################################################-->
    <select id="selectWithWhere" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="userName != null and userName != ''">
                username = #{userName}
            </if>
            <if test="password != null and password != ''">
                AND user_password = #{password}
            </if>
        </where>
    </select>
    <!--############################################################-->
    <update id="updateWithSet">
        UPDATE sys_user
        <set>
            <if test="userName != null">
                username=#{userName},
            </if>
            <if test="password != null">
                user_password=#{password},
            </if>
            <if test="userEmail != null">
                user_email=#{userEmail},
            </if>
            <if test="userInfo != null">
                user_info=#{userInfo},
            </if>
            <if test="headImg != null">
                head_img=#{headImg},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            id=#{id}
        </set>
        WHERE id=#{id}
    </update>
    <!--############################################################-->
    <select id="selectWithFor" resultType="com.rayenyang.mybatis.pojo.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="idList != null and idList.size > 0">
                id in
                <foreach collection="idList" open="(" close=")" index="i" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>